kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ include "elasticsearch.fullname" . }}-data-pvc
  labels:
  {{- include "elasticsearch.labels" . | nindent 4 }}
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  volumeName: {{ include "elasticsearch.fullname" . }}-data-pv
